.FullscreenImgModal {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9000;
}

.img-fullscreen {
  max-width: 100%;
  height: auto;
}

.modal-wrapper {
  max-width: 140rem;
  height: auto;
  z-index: 10;
  position: relative;
  text-align: center;
  margin: 2.5rem;
}

.slideshow-count {
  margin-top: 0.5rem;
  color: rgba(255, 255, 255, 0.8);
}

.close-modal-btn {
  cursor: pointer;
  position: absolute;
  right: 0;
  width: 3.2rem;
  height: 3.2rem;
  padding: 0;
  z-index: 11;
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-modal-btn ion-icon {
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.6);
}

.close-modal-btn ion-icon:hover {
  color: rgba(255, 255, 255, 1);
}

.arrow-prev-container,
.arrow-next-container {
  max-width: 100px;
  height: auto;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  user-select: none;
}

.arrow-prev-container:hover,
.arrow-next-container:hover {
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.arrow-display-none {
  display: none;
}

.arrow-prev-container,
.arrow-next-container ion-icon {
  font-size: 5rem;
  color: rgba(255, 255, 255, 0);
}

.arrow-prev-container:hover,
.arrow-next-container:hover ion-icon {
  color: rgba(255, 255, 255, 1);
}

.arrow-prev-container {
  left: 0;
  top: 0;
  bottom: 0;
}

.arrow-next-container {
  right: 0;
  top: 0;
  bottom: 0;
}

.loading-text {
  margin: 40rem;
}
