.GameMediaSlider {
  padding: 10rem 0;
}

.slider-container {
  max-width: 100%;
  border-radius: 5px;
  height: auto;
  background-color: #34373b;
  /* margin: 2.5rem 0; */
  margin-top: 2.5rem;
  margin-bottom: 10rem;
  padding: 2.5rem 5rem;
}

.img-container {
  width: 100%;
  height: 100%;
  height: min-content;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.artwork {
  transition: transform 0.4s ease-in-out;
}

.artwork:hover {
  /* transform: scale(1.2); */
}

.fa-search-plus {
  font-size: 3.5rem;
  opacity: 0;
  position: absolute;
  /* right: 5rem;
  bottom: 1rem; */
  z-index: 2;
  left: 50%;
  margin-left: -5%;
  top: 50%;
  margin-top: -2%;
  transition: all 0.1s ease-in-out;
  pointer-events: none;
}

/* .icon-zoom-container .fa-search-plus:hover {
  opacity: 1;
} */

.img-container:hover .fa-search-plus {
  opacity: 1;
}
