.game-card {
  position: relative;
}

.category h1 {
  /* font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 5px;
  border-bottom: 2px solid rgba(145, 71, 255, 1); */
 
}

.category ion-icon {
  /* margin-bottom: 1rem; */
}

.game-card > img {
  border-radius: 5px;
  max-width: 19rem;
  /* height: 280px; */
  margin: 2.5rem 1rem;
  transition: transform 0.2s ease-in-out;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.game-card > img:hover {
  transform: scale(1.1);
}

.game-card:hover .game-card-summary-box {
  visibility: visible;
}

/* .game-card > img:hover ~.game-card-summary-box {
  visibility: visible;
} */

/* .game-card:not(.game-card-content):hover .game-card-summary-box {
  visibility: visible;
} */

.slick-dots li button:before {
  color: white;
}

.slick-dots li.slick-active button:before {
  color: white !important;
}

/* React Slick --Custom Arrows CSS */
.slick-arrows {
  position: relative;
}

.slick-arrows .slick-prev,
.slick-arrows .slick-next {
  position: absolute;
}

.slick-arrows .slick-prev {
  /* left: 1%; */
  z-index: 1;
}

.slick-arrows .slick-next {
  /* right: -2%; */
}

.game-card-content {
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  /* position: relative; */
}

/* add (bookmark) icon */
.game-card-content ion-icon {
  position: relative;
  left: 65%;
  bottom: 1.9rem;
  z-index: 50;
}

.game-card-content ion-icon:active {
  transform: translateY(1px);
}

.game-card-genre,
.game-card-rating-box {
  position: relative;
}

.game-card-genre {
  bottom: 0.7rem;
  left: 1rem;
}

.game-card-genre-box {
  width: 13.5rem;
  height: 1.6rem;
  word-wrap: break-word;
}

.game-card-rating {
  color: white;
  margin: auto 0;
}

.game-card-rating-box {
  border-radius: 5px;
  border: 2px solid rgba(145, 71, 255, 1);
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0 0.7rem;
  width: 3.8rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  bottom: 4.9rem;
  left: 78%;
}

.game-card-rating-box {
  /* 
  border-radius: 27px;
  border: 2px solid rgba(145, 71, 255, 1);
  background-color: rgba(0, 0, 0, 0.1);
  width: min-content;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  text-align: center; 
  */
}




.game-card-summary {
  /* font-size: 14px; */
  color: white;
}

.game-card-summary-box {
  /* background-color: rgba(52, 58, 64, 1);  */
  position: absolute;
  background-color: rgba(32, 32, 32, 1);
  margin: 0 0.8rem;
  padding: 1rem;
  border-radius: 5px;
  width: 20.9rem;
  height: 28.1rem;
  border: 2px solid rgba(145, 71, 255, 1);

  bottom: -1.5rem;
  /* left: 2px; */
  left: -0.7rem;

  visibility: hidden;
  /* transform: translateY(309px); */

  transition: all 0s ease-in-out 0.6s;

  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

.game-card-summary-box::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

/* Summary Cards Animations */

/* @keyframes scroll-up {
  from {
    visibility: hidden;
    opacity: 0;
  }

  1% {
    visibility: visible;
    opacity: 0;
  }

  to {
    visibility: visible;
    opacity: 1;
  }
}

.scroll-up {
  animation: scroll-up 100ms ease-in-out forwards;
} */

@media only screen and (max-width: 60em) {
  .game-card > img {
    max-width: 18rem;
  }
}
