.Game {
  margin-top: 11rem;
  color: #ffffff;
  padding: 0 16vw;
}

.Game h3 {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 5px;
  border-bottom: 2px solid rgba(145, 71, 255, 1);
  /* border-bottom: 2px solid white; */
  width: min-content;
}

.game-main-section {
  display: flex;
  /* align-items: flex-end; */
}

.game-main-content {
  display: flex;
  padding: 0 3rem;
  flex-direction: column;
  justify-content: space-between;
}

.game-img {
  border-radius: 5px;
  width: 100%;
  max-width: 26.5rem;
  max-height: 35.8rem;
  /* width: auto;
  height: auto; */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.game-title {
  font-size: 6.4rem;
  font-weight: 700;
  text-transform: uppercase;
}

.game-rating-box {
  border-radius: 27px;
  border: 5px solid rgba(145, 71, 255, 1);
  /* border: 5px solid white; */
  background-color: rgba(0, 0, 0, 0.1);
  width: min-content;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  text-align: center;
}

.game-release-date {
  font-size: 2.2rem;
  margin-top: 1.5rem;
}

.game-rating {
  color: white;
  margin: auto 0;
  font-size: 3.5rem;
  padding: 0 1rem;
  padding: 0 1.5rem; /* OVAL */
}

.game-genre {
  font-size: 1.6rem;
}

.game-rating-bookmark-div {
  display: flex;
  align-items: center;
  user-select: none;
}

.game-rating-bookmark-div ion-icon:active {
  transform: translateY(2px);
  /* transform: scale(0.8); */
  /* transform: rotate(90deg); */
}

.game-rating-bookmark-div ion-icon {
  font-size: 7.2rem;
  padding: 0 1rem;
  /* transition: transform 0.1s ease-in; */
  color: #ffb100;
  cursor: pointer;
}

.game-details-section {
  display: flex;
  justify-content: space-between;
}

.game-left-column {
  max-width: 100rem;
  padding-right: 6rem;
  line-height: 1.6;
}

.game-right-column h4 {
  padding: 1px 0;
  text-transform: uppercase;
  border-bottom: 1px solid white;
  margin-bottom: 1rem;
  width: min-content;
  letter-spacing: 0.2rem;
}

.game-right-column p {
  font-size: 1.4rem;
  /* color:rgb(178, 53, 250) */
}

.heading-container {
  display: flex;
  margin-top: 3rem;
  margin-bottom: 1rem;
  letter-spacing: 0.2rem;
}

.heading-container ion-icon {
  font-size: 21px;
  padding-top: 2px;
  padding-left: 5px;
}

.game-right-column {
  margin-left: 3rem;
}

.game-info-content-container {
  margin-bottom: 2.5rem;
}

.game-links-div {
  max-width: 40rem;
}

.game-links ion-icon {
  height: 3.5rem;
  font-size: 2.5rem;
}

.game-links a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

.game-links a:hover {
  color: rgba(255, 255, 255, 1);
}

.game-links p {
  margin: 0;
  padding: 1rem;
}

.game-links {
  display: flex;
  flex-wrap: wrap;
}

.game-links-container {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.game-slider-section {
  margin-bottom: 20rem;
}

.scroll-up-btn {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
}

.scroll-up-btn a {
  color: inherit;
  opacity: 0.25;
}

.scroll-up-btn a:hover {
  opacity: 1;
}

.scroll-up-btn ion-icon {
  font-size: 2rem;
}

/* 1045px */
@media only screen and (max-width: 65.3125em) {
  .game-title {
    font-size: 4vw;
  }
}

/* 925px */
@media only screen and (max-width: 57.8125em) {
  .game-title {
    font-size: 4.2rem;
    min-width: 25.5rem;
  }

  .game-summary {
    min-width: 34.5rem;
  }

  .game-main-section {
    /* display: flex; */
    flex-direction: column;
    align-items: center;
  }
  .game-main-content {
    /* display: flex; */
    /* padding: 0 3rem; */
    /* flex-direction: column; */
    /* justify-content: space-between; */
    padding: 3rem;
  }

  .game-details-section {
    display: block;
  }

  .game-right-column {
    margin-left: 0;
  }

  .game-info-content {
    display: flex;
    flex-wrap: wrap;
    max-width: 50rem;
  }

  .game-info-content-container {
    margin-right: 5rem;
  }

  .game-rating-bookmark-div {
    margin: 3rem 0;
  }
}

/* 500px */
@media only screen and (max-width: 31.25em) {
  .Game {
    margin-top: 3rem;
  }

  .game-left-column {
    padding-right: 0;
  }

  .game-summary {
    width: 100%;
    min-width: 100%;
  }
}
