.Game {
  margin-top: 11rem;
  color: #ffffff;
  padding: 0 16vw;
}

.Game h3 {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 5px;
  border-bottom: 2px solid rgba(145, 71, 255, 1);
  width: min-content;
}

.game-main-section {
  display: flex;
  /* align-items: flex-end; */
}

.game-main-content {
  display: flex;
  padding: 0 3rem;
  flex-direction: column;
  justify-content: space-between;
}

.game-img {
  border-radius: 5px;
  max-width: 26.5rem;
  max-height: 35.8rem;
  /* width: auto;
  height: auto; */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.game-title {
  font-size: 6.4rem;
  font-weight: 700;
  text-transform: uppercase;
}

.game-rating-box {
  border-radius: 27px;
  border: 5px solid rgba(145, 71, 255, 1);
  background-color: rgba(0, 0, 0, 0.1);
  width: min-content;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  text-align: center;
}

.game-release-date {
  font-size: 2.2rem;
  margin-top: 1.5rem;
}

.game-rating {
  color: white;
  margin: auto 0;
  font-size: 3.5rem;
  padding: 0 1rem;
  /* padding: 0 1.5rem;  */ /* OVAL */
}

.game-genre {
  font-size: 1.6rem;
}

.game-rating-bookmark-div {
  display: flex;
  align-items: center;
  user-select: none;
}

.game-rating-bookmark-div ion-icon:active {
  transform: translateY(2px);
  /* transform: scale(0.8); */
  /* transform: rotate(90deg); */
}

.game-rating-bookmark-div ion-icon {
  font-size: 7.2rem;
  padding: 0 1rem;
  /* transition: transform 0.1s ease-in; */
  color: #ffb100;
}

.game-details-section {
  display: flex;
  justify-content: space-between;
  margin-right: 18vw;
  
}

.game-left-column {
  max-width: 65rem;
  padding-right: 6rem;
  line-height: 1.6;
}

.game-right-column h4 {
  padding: 1px 0;
  text-transform: uppercase;
  border-bottom: 1px solid white;
  margin-bottom: 1rem;
  width: min-content;
  letter-spacing: 0.2rem;
}

.game-right-column p {
  font-size: 1.4rem;
  /* color:rgb(178, 53, 250) */
}

.game-info-div {
  /* min-width: 60rem; */
  /* background-color: yellow; */
}

.heading-container {
  display: flex;
  margin-top: 3rem;
  margin-bottom: 1rem;
  letter-spacing: 0.2rem;
}

.heading-container ion-icon {
  font-size: 21px;
  padding-top: 2px;
  padding-left: 5px;
}

.game-right-column {
  margin-left: 3rem;
}

.game-info-content-container {
  margin-bottom: 2.5rem;
}
