.game-card > img {
  border-radius: 5px;
  max-width: 210px;
  margin: 25px 10px;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.game-card > img:hover {
  transform: scale(1.1);
}

/* React Slick --Custom Arrows CSS */
.slick-arrows {
  position: relative;
}

.slick-arrows .slick-prev,
.slick-arrows .slick-next {
  position: absolute;
}

.slick-arrows .slick-prev {
  left: 1%;
  z-index: 1;
}

.slick-arrows .slick-next {
  right: 1%;
}

.game-card-text {
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.game-card-genre,
.game-card-rating-box {
  position: relative;
}

.game-card-genre {
  bottom: 10px;
  left: 10px;
}

.game-card-rating {
  color: white;

  margin: auto 0;
}

.game-card-rating-box {
  border-radius: 5px;
  border: 2px solid rgba(145, 71, 255, 1);
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0 7px;
  width: 38px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

  bottom: 40px;
  left: 80%;
}

@media only screen and (max-width: 60em) {
  .game-card > img {
    max-width: 180px;
  }
}
