.GameList {
  /* margin: 50px 50px 25px 50px; */
  margin: 5% 5rem;
}

.GameList a {
  text-decoration: none;
  color: inherit;
}

.GameList ion-icon {
  font-size: 2.5rem;
}

.GameList h1 {
  margin-top: 2.5rem;
}
