.SavedGames {
  margin: 9rem 8rem 0 8rem;
}

.SavedGames a {
  text-decoration: none;
  color: inherit;
}

.SavedGames ion-icon {
  font-size: 2.5rem;
  /* color: rgb(196, 49, 49); */
}

/* 812px */
@media only screen and (max-width: 50.75em) {
  .SavedGames {
    margin: 0rem 5rem 0 5rem;
  }
}

/* 600px */
@media only screen and (max-width: 37.5em) {
  .SavedGames {
    margin: 3rem 5rem 0 5rem;
  }
}

/* 500px */
@media only screen and (max-width: 31.25em) {
  .SavedGames {
    margin: 3em 10rem 0 10rem;
  }

}

/* 375px */
@media only screen and (max-width: 23.4375em) {
  .SavedGames {
    margin: 3em 8rem 0 8rem;
  }
}

/* 320px */
@media only screen and (max-width: 20em) {
  .SavedGames {
    margin: 3rem 4rem 0 4rem;
  }
}
