.SearchBox {
  display: flex;
  align-items: center;
}

.SearchBox ion-icon {
  font-size: 25px;
  color: gainsboro;
  margin-top: 5px;
}

.search-btn:hover ion-icon {
  color: white;
}

.search-btn {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  margin: 0px 5px;
  cursor: pointer;
}

.SearchBox input {
  padding: 10px;
  min-width: 35rem;
  border-radius: 2px;
  border: none;
  font-size: 16px;
  font-family: inherit;
  font-weight: 700;
  color: rgb(82, 97, 121);
}

.SearchBox input:focus {
  outline: none;
}

/* Placeholder styling for browsers */

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  opacity: 0.6;
}
::-moz-placeholder {
  /* Firefox 19+ */
  opacity: 0.6;
}
:-ms-input-placeholder {
  /* IE 10+ */
  opacity: 0.6;
}
:-moz-placeholder {
  /* Firefox 18- */
  opacity: 0.6;
}

.drop-btn {
  /* --dropdown-heading-color: rgba(220, 220, 220, 0.8); */
  --dropdown-heading-color: rgba(255, 255, 255, 0.8);

  /* --dropdown-heading-color: rgba(220, 220, 220, 1); */
  /* --dropdown-heading-color: white; future note: Go with white full opacity */ 

  background-color: rgba(0, 0, 0, 0);
  color: var(--dropdown-heading-color);
  padding: 18px;
  font-size: 16px;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: center;
  width: 125px;
}

.drop-btn ion-icon {
  font-size: 15px;
  padding-top: 2px;
  opacity: 0.5;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown a {
  text-decoration: none;
}

.drop-btn-games {
  cursor: pointer;
}

.drop-btn:hover {
  /* color: rgba(220, 220, 220, 1); */
  color: rgb(255, 255, 255);
  /* color: rgba(220, 220, 220, 0.8); */
}

.drop-btn:hover ion-icon {
  opacity: 1;
}

/* Tablet--1120px */
@media only screen and (max-width: 70em) {
  .SearchBox input {
    min-width: 25px;
  }
}

/* Mobile--960px */
@media only screen and (max-width: 60em) {
  .mobile-menu .SearchBox {
    flex-direction: column-reverse;
    align-items: flex-start;
    border-radius: 0;
    padding: 10px;
  }

  .dropdown {
    width: 100%;
  }

  .drop-btn-games {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* padding: 18px 10px; */
  }

  .SearchBox input {
    width: 100%;
  }

  .mobile-menu .search-btn {
    display: none;
  }
}
