/* Logo -Home */

.logo-icon ion-icon {
  font-size: 38px;
  padding-left: 5px;
}

.logo-icon:hover {
  color: white;
}

header ion-icon:hover {
  color: white;
}

.logo-heading {
  font-size: 22px;
  font-family: inherit;
}

.logo-icon a {
  display: flex;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--dropdown-heading-color);
  text-align: center;
}

/* Navbar */
nav {
  width: 100%;
  height: 55px;
  box-shadow: 0px 1px 3px 1px rgb(0 0 0 / 30%);

  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color-navy);

  padding: 0 20vw;

  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9000;
}

header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* Mobile Menu Toggle */
.menu-toggle {
  display: none;
  width: auto;
  height: auto;
  padding-right: 30px;
}

.menu-toggle span {
  display: block;
  width: 18px;
  height: 2px;
  background-color: white;
  transition: all 100ms ease-in-out;
  transform-origin: 0.5px center;
}

.menu-toggle span:not(:last-child) {
  margin-bottom: 4px;
}

.menu-toggle.open span:first-child {
  transform: rotate(45deg);
}
.menu-toggle.open span:nth-child(2) {
  opacity: 0;
  transform: translateX(-20px);
}
.menu-toggle.open span:last-child {
  transform: rotate(-45deg);
}

/* Mobile Menu */
.mobile-menu {
  visibility: hidden;
  position: fixed;
  overflow: scroll;
  background-color: var(--primary-color-navy);
  top: 54px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  z-index: 2;
}

.mobile-menu.open {
  visibility: visible;
}

/* Mobile Menu - 960px */
@media only screen and (max-width: 60em) {
  .mobile-menu {
    padding-bottom: 1rem;
  }

  nav .SearchBox {
    display: none;
  }

  nav .TwitchAuth {
    display: none;
  }

  nav .GoogleAuth {
    display: none;
  }

  nav {
    padding: 0px;
  }

  .mobile-menu .TwitchAuth {
    /* styling here */
  }

  .logo-icon {
    padding-left: 30px;
  }

  header {
    width: 100%;
    height: 55px;
    box-shadow: 0px 1px 3px 1px rgb(0 0 0 / 30%);
  }

  .menu-toggle {
    display: block;
  }
}

/* Medium --1520px */
@media only screen and (max-width: 95em) {
  .logo-heading {
    font-size: 15px;
  }
}

/* Keyframe Animations */

/* Fade in*/
@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }

  1% {
    visibility: visible;
    opacity: 0;
  }

  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  animation: fade-in 100ms ease-in-out forwards;
}

/* Fade out */
@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }

  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  animation: fade-out 100ms ease-in-out forwards;
}
