.FeaturedGame {
  padding: 15rem;
  padding-top: 5rem;
  padding: 5rem 15rem 10rem 10rem;
}

/* 925px */
@media only screen and (max-width: 57.8125em) {
  .FeaturedGame {
    margin-top: 3rem;
    padding: 0 4vw;
    margin-bottom: 8rem;
  }
}

/* 500px */
@media only screen and (max-width: 31.25em) {
  .Game {
    margin-top: 3rem;
    padding: 0 8vw;
  }
}

.FeaturedGame h3 {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 5px;
  border-bottom: 2px solid rgba(145, 71, 255, 1);
  width: min-content;
}

.featured-game-summary-container .heading-container {
  /* margin-top: 5rem; */
}

.loading-dots-container {
  width: 100%;
  height: 100vh;
  background-color: rgb(28 28 35);
}

.fade-in-featured-game {
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
