@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');

.Footer {
  font-size: 1.4rem;
  color: #49494f;
  width: 100%;
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 2.5rem;
}

.Footer a {
  text-decoration: none;
  color: inherit;
}

.Footer a:hover {
  color: gainsboro;
}

.role-credits {
  display: flex;
  align-items: center;
}

.author {
  /* font-family: graduate, cursive; */
  font-size: 1.6rem;
  margin-top: 0.2rem;
}

.Footer ion-icon {
  font-size: 1.4rem;
}
