.GameList {
  margin: 9rem 8rem 0 8rem;
}

.GameList a {
  text-decoration: none;
  color: inherit;
}

.GameList h1 {
  margin-top: 2.5rem;
}

/* 825px */
@media only screen and (max-width: 51.5625em) {
  .GameList {
    margin: 0rem 2rem 0 2rem;
  }
}

/* 750px */
@media only screen and (max-width: 46.875em) {
  .GameList {
    margin: 2rem 2rem 0 2rem;
  }
}

/* 600px */
@media only screen and (max-width: 37.5em) {

  .GameList {
    margin: 1rem 2rem 0 2rem;
  }
}

/* 500px */
@media only screen and (max-width: 31.25em) {
  .GameList {
    margin: 1.5em 2rem 0 2rem;
  }
}

/* 375px */
@media only screen and (max-width: 23.4375em) {
  .GameList {
    margin: 2rem 1rem 0 1rem;
  }
}

/* 320px */
@media only screen and (max-width: 20em) {
  .GameList {
    margin: 2rem 1rem 0 1rem;
  }
}
