*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  --primary-color-navy: rgb(28 28 35);

  background-color: var(--primary-color-navy);
  color: gainsboro;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

.Home {
  margin: 9rem 8rem 0 8rem;
}

.Home a {
  text-decoration: none;
  color: inherit;
}

.Home ion-icon {
  font-size: 2.5rem;
}

.category {
  display: flex;
  align-items: center;
}

.category ion-icon {
  margin-bottom: 2px;
}

/* 600px */
@media only screen and (max-width: 37.5em) {
  .Home {
    margin: 3rem 5rem 0 5rem;
  }
}

/* 500px */
@media only screen and (max-width: 31.25em) {
  .Home {
    margin: 3em 10rem 0 10rem;
  }
}

/* 375px */
@media only screen and (max-width: 23.4375em) {
  .Home {
    margin: 3em 8rem 0 8rem;
  }
}

/* 320px */
@media only screen and (max-width: 20em) {
  .Home {
    margin: 3rem 4rem 0 4rem;
  }
}
