/* Credit: Bennett Wong @codepen.io/bennett/pen/GjRPdk */

.loading-dots {
  position: absolute;
  top: calc(50%);
  left: 50%;
  height: 1rem;
  line-height: 1rem;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.loading-dots > div {
  display: inline-block;
  font-size: 0;
  margin: 0 0.25rem;
  background: #b2b2b2;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  -webkit-animation: loading-dots 0.6s alternate infinite;
  -moz-animation: loading-dots 0.6s alternate infinite;
  animation: loading-dots 0.6s alternate infinite;
}

.loading-dots > div:nth-of-type(2) {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.loading-dots > div:nth-of-type(3) {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

@-webkit-keyframes loading-dots {
  0% {
    -webkit-transform: scale(0, 0);
  }
  100% {
    -webkit-transform: scale(1, 1);
  }
}
@-moz-keyframes loading-dots {
  0% {
    -webkit-transform: scale(0, 0);
  }
  100% {
    -webkit-transform: scale(1, 1);
  }
}
@keyframes loading-dots {
  0% {
    -webkit-transform: scale(0, 0);
  }
  100% {
    -webkit-transform: scale(1, 1);
  }
}
#container {
  width: 100%;
  height: 100%;
  background: #f2f2f2;
  background: var(--primary-color-navy);
}
