*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
    font-size: 62.5%;
}

body {
  background-color: rgb(28 28 35);
  color: gainsboro;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}



/* 

Colors:
main = 0xFF9F5AFD
background = 0xff262938
secondary = 0xFFF7CA18


main = hsl(220 14% 15% / 1)
yellow = hsl(50deg 83% 59%)
purple = hsl(262deg 70% 64%) 
grey = hsl(220deg 11% 89%)
*/
